body, html, #root, .app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: 'Helvetica', sans-serif;
}

.no-scroll {
  overflow: hidden;
}

.app {
  position: relative;
}

.sections {
  display: flex;
  flex-direction: column;
  height: 300vh; /* 3 sections, each taking up 100vh */
}

.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /*opacity: 0.8; !* Adjust opacity of the background image *!*/
}

.logo {
  max-width: 750px; /* Adjust the maximum width of the logo */
  height: auto; /* Maintain aspect ratio */
}

.section-title {
  position: relative;
  font-size: 5rem;
  text-align: center;
  padding: 20px;
  color: white;
  z-index: 2;
  border: 3px solid white;
}

.section-text {
  z-index: 2; /* Ensure title text is above other elements */
  color: white;
  text-align: center;
  font-size: 2em;
}

.content {
  z-index: 1; /* Ensure content is above the background image */
  text-align: center; /* Center content horizontally */
  color: white; /* Set color of text */
  position: relative;
}

/*.indicator {*/
/*  position: fixed;*/
/*  top: 50%;*/
/*  right: 20px;*/
/*  transform: translateY(-50%);*/
/*}*/

/*.dot {*/
/*  width: 10px;*/
/*  height: 10px;*/
/*  margin: 5px;*/
/*  border-radius: 50%;*/
/*  background-color: gray;*/
/*}*/

.indicator {
  position: fixed;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: dimgray;
  margin-bottom: 10px;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.dot.active {
  background-color: white;
}

.dot:hover {
  transform: scale(1.4);
}

.custom-button {
  background-color: transparent;
  color: white;
  border: 2px solid white;
  /*border-radius: 10px;*/
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

.custom-button:hover {
  background-color: white; /* Change background color on hover */
  color: gray; /* Change text color on hover */
}

.social-icon {
  margin: 0 10px;
  color: white;
  transition: transform 0.3s ease, color 0.3s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.social-icon:hover {
  transform: scale(1.1);
  color: #ddd;
}

.icon-container {
  margin-top: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  width: 80%;
  position: relative;
}

.contact-info {
  opacity: 100%;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .logo {
    max-width: 80%; /* Adjust logo size for smaller screens */
  }

  .section-title {
    font-size: 3rem; /* Adjust font size for mobile */
    padding: 10px;
  }

  .section-text {
    font-size: 1.2rem; /* Adjust font size for mobile */
  }
}
